<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{162,252}}</string>
                <key>offset</key>
                <string>{-12,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,48},{162,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{134,254}}</string>
                <key>offset</key>
                <string>{-12,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,45},{134,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{162,252}}</string>
                <key>offset</key>
                <string>{-12,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,48},{162,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,612},{78,136}}</string>
                <key>offset</key>
                <string>{-11,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,154},{78,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,650},{118,144}}</string>
                <key>offset</key>
                <string>{-18,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,146},{118,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,166},{186,144}}</string>
                <key>offset</key>
                <string>{57,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,146},{186,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,796},{100,144}}</string>
                <key>offset</key>
                <string>{14,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,146},{100,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,898},{84,154}}</string>
                <key>offset</key>
                <string>{24,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,151},{84,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,166},{152,100}}</string>
                <key>offset</key>
                <string>{54,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,200},{152,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,928},{156,80}}</string>
                <key>offset</key>
                <string>{57,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,250},{156,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,468},{144,168}}</string>
                <key>offset</key>
                <string>{-20,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,128},{144,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,698},{144,166}}</string>
                <key>offset</key>
                <string>{-22,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,126},{144,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,312},{154,170}}</string>
                <key>offset</key>
                <string>{-21,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,125},{154,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,440},{138,170}}</string>
                <key>offset</key>
                <string>{-31,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,122},{138,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,320},{116,164}}</string>
                <key>offset</key>
                <string>{-13,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,127},{116,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{108,162}}</string>
                <key>offset</key>
                <string>{5,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,129},{108,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,614},{82,170}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,124},{82,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,844},{82,164}}</string>
                <key>offset</key>
                <string>{-3,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,130},{82,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,486},{130,162}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,127},{130,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,186},{132,198}}</string>
                <key>offset</key>
                <string>{-11,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,97},{132,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,182}}</string>
                <key>offset</key>
                <string>{3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,125},{254,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,692},{86,164}}</string>
                <key>offset</key>
                <string>{6,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,127},{86,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>1001_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{168,198}}</string>
                <key>offset</key>
                <string>{46,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,102},{168,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1001.png</string>
            <key>size</key>
            <string>{590,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff7036c6833da446e2b5ce789f8a759:1/1$</string>
            <key>textureFileName</key>
            <string>1001.png</string>
        </dict>
    </dict>
</plist>
