<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2001_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,138},{134,250}}</string>
                <key>offset</key>
                <string>{10,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,43},{134,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,246}}</string>
                <key>offset</key>
                <string>{10,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,47},{160,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{134,250}}</string>
                <key>offset</key>
                <string>{10,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,43},{134,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,148},{78,136}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,153},{78,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,274},{118,144}}</string>
                <key>offset</key>
                <string>{13,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,145},{118,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{186,144}}</string>
                <key>offset</key>
                <string>{88,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,145},{186,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,274},{100,144}}</string>
                <key>offset</key>
                <string>{45,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,145},{100,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{80,144}}</string>
                <key>offset</key>
                <string>{17,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,150},{80,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,358},{96,116}}</string>
                <key>offset</key>
                <string>{42,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,175},{96,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2001_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,286},{138,70}}</string>
                <key>offset</key>
                <string>{69,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,249},{138,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2001.png</string>
            <key>size</key>
            <string>{510,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be0d5d565164715620a86733cfae4bf:1/1$</string>
            <key>textureFileName</key>
            <string>2001.png</string>
        </dict>
    </dict>
</plist>
