<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2003_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,266}}</string>
                <key>offset</key>
                <string>{-1,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,33},{144,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,260}}</string>
                <key>offset</key>
                <string>{-1,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,40},{144,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,266}}</string>
                <key>offset</key>
                <string>{-1,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,33},{144,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,266}}</string>
                <key>offset</key>
                <string>{-2,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,37},{144,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,264},{142,216}}</string>
                <key>offset</key>
                <string>{-4,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,87},{142,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,270},{170,212}}</string>
                <key>offset</key>
                <string>{-15,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,92},{170,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{256,212}}</string>
                <key>offset</key>
                <string>{48,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,93},{256,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,228},{222,208}}</string>
                <key>offset</key>
                <string>{21,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,94},{222,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,248},{232,130}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,174},{232,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{244,154}}</string>
                <key>offset</key>
                <string>{5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,147},{244,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{224,208}}</string>
                <key>offset</key>
                <string>{33,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,96},{224,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>2003_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{224,206}}</string>
                <key>offset</key>
                <string>{37,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,94},{224,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2003.png</string>
            <key>size</key>
            <string>{1014,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c634d10fb7a83f81667f10006c3d41:1/1$</string>
            <key>textureFileName</key>
            <string>2003.png</string>
        </dict>
    </dict>
</plist>
